.uni-top-window {
  border-bottom: 1px solid #eaecef;
  z-index: 999;
}

uni-left-window {
  border-right: 1px solid #eaecef;
  z-index: 998;
}

.uni-app--showleftwindow .hideOnPc {
  display: none;
}

.uni-app--showleftwindow .uni-page-head-hd {
  display: none;
}

.uni-link {
  width: fit-content;
}

.content {
  width: 100%;
  box-sizing: border-box;
  max-width: 1190px;
  margin: 0 auto;
  padding: 45rpx 35rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 12rpx;
}

.title {
  font-size: 36rpx;
  font-weight: bold;
  color: $uni-color-title;
}

.active {
  color: $uni-color-primary;
}

input,
textarea,
.uni-picker-container {
  border: 1px solid $uni-border-color;
  border-radius: 8px;
  padding: 12px;
}

.uni-card__cover {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .uni-top-window {
    border-bottom: 1px solid #333;
  }
  uni-left-window {
    border-right: 1px solid #333;
  }
  .title {
    color: $uni-color-title-inverse;
  }

  .uni-section,
  .uni-list-item {
    background-color: $uni-bg-color-inverse !important;
    color: $uni-text-color-inverse !important;
  }
  .uni-section__content-title,
  .uni-list-item__content-title {
    color: $uni-text-color-inverse !important;
  }
}
